.container {
    display: flex;
    height: 400px;
    width: 100%;
    justify-content: center;
}

.calculator {
    display: grid;
    grid-template-rows: auto 2fr;
    grid-template-columns: 300px;
    background-color: rgb(111, 222, 236);
    border-radius: 5%;
}

.display {
    border: thick solid black;
    background-color: rgb(191, 255, 189);
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

#display-content {
    font-size: x-large;
    margin: 10px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.keypad {
    display: grid;
    grid-template-rows: auto 2fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        ". top"
        "middle right";
    margin: 5px;
    padding: 5px;
}

.functions {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-area: top;
}

.digits {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto;
    grid-area: middle;
    justify-self: stretch;
}

.btn {
    font-size: xx-large;
    font-family: sans-serif;
}

.digit-btn {
    color: blue;
}

.operator-btn {
    color: red;
}

.function-btn {
    color: purple;
}

.operators {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-area: right;
}

header {
    text-align: center;
}