.container {
    display: flex;
    justify-content: center;
}

.calculator {
    display: grid;
    height: fit-content;
    width: fit-content;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    background-color: rgb(111, 222, 236);
}

.display {
    border: thick solid rgb(111, 222, 236);
    background-color: rgb(191, 255, 189);
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

.keypad {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: 
        ". top"
        "middle right";
    margin: 5px;
    padding: 5px;
}

.functions {
    display: grid;
    grid-template-rows: 20px;
    grid-template-columns: auto;
    grid-area: top;
}

.digits {
    display: grid;
    grid-template-rows: repeat(4, 40px);
    grid-template-columns: repeat(3, 40px);
    grid-area: middle;
    align-content: flex-end;
}

.operators {
    display: grid;
    grid-template-rows: repeat(5, 40px);
    grid-template-columns: 40px;
    grid-area: right;
}

header {
    text-align: center;
}